<!DOCTYPE html >

<a class="navbar-brand" href="#">Книжный магазин</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/}">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/addbooks}">Добавить книгу</a>
    </li>
    <li class="nav-item"
        sec:authorize="isAuthenticated()">
      <a class="nav-link" th:href="@{/sign-in-page}">Sign in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/sign-in-page}">Sign out </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Мои книги
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" th:href="@{/books/genre/фантастика}">Фантастика</a>
        <a class="dropdown-item" th:href="@{/books/genre/детектив}">Детектив</a>
        <a class="dropdown-item" th:href="@{/books/genre/роман}">Роман</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Контакты</a>
    </li>
  </ul>

  <form class="d-flex"  role="search" th:action="@{'/'}">
    <input class="form-control mr-sm-2" type="search"
           placeholder="Поиск" aria-label="Search"
           name="key"
           th:value ="${param.key!=null?param.key:''}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
  </form>
</div>

